<?xml version="1.0" standalone="yes"?>
<dataset>
  <mainmenu>
    <menutitle>信息公告</menutitle>
    <submenu>
      <Res>公告</Res>
      <Action>查看</Action>
      <menutitle>公告信息</menutitle>
      <link>/Manage/NoticeList.aspx</link>
    </submenu>
    <submenu>
      <Res>新闻</Res>
      <Action>查看</Action>
      <menutitle>新闻信息</menutitle>
      <link>/Manage/NewsList.aspx</link>
    </submenu>
  </mainmenu>
  <mainmenu>
    <menutitle>商品中心</menutitle>
    <submenu>
      <Res>类别</Res>
      <Action>查看</Action>
      <menutitle>类别信息</menutitle>
      <link>/Manage/CateList.aspx</link>
    </submenu>

    <submenu>
      <Res>商品</Res>
      <Action>查看</Action>
      <menutitle>商品管理</menutitle>
      <link>/Manage/CommodityList.aspx</link>
    </submenu>
  </mainmenu>
  <mainmenu>
    <menutitle>订单中心</menutitle>
    <submenu>
      <Res>订单</Res>
      <Action>查看</Action>
      <menutitle>全部订单</menutitle>
      <link>/Manage/OrderList.aspx</link>
    </submenu>
    <submenu>
      <Res>评价</Res>
      <Action>查看</Action>
      <menutitle>评价管理</menutitle>
      <link>/Manage/RateList.aspx</link>
    </submenu>
  </mainmenu>
  <mainmenu>
    <menutitle>系统用户</menutitle>
    <submenu>
      <Res>管理员</Res>
      <Action>查看</Action>
      <menutitle>管理员信息</menutitle>
      <link>/Manage/AdminList.aspx</link>
    </submenu>
  </mainmenu>

  <mainmenu>
    <menutitle>用户管理</menutitle>
    <submenu>
      <Res>用户</Res>
      <Action>查看</Action>
      <menutitle>用户信息</menutitle>
      <link>/Manage/UserList.aspx</link>
    </submenu>
  </mainmenu>

</dataset>
